.about {
  padding: 20px 0 15px;

  @media @view-tablets {
    padding: 20px 0;
    margin-bottom: 35px;
  }

  .main-section_title {
      .title;
      font-size: 25px;
      margin-bottom: 0;

      @media @view-tablets {
        margin-bottom: 30px;
      }
  }
}

.about_img {
  margin: 20px 0 10px;
  height: 45px;

  @media @view-tablets {
    margin: 20px 0 7px;
  }

  @media @view-desktop {
    margin-bottom: 10px;
  }
}
.about_text {
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  color: #000;

  @media @view-tablets {
    padding-right: 55px;
    font-size: 20px;
    line-height: 22px;
  }
}
.about_cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  @media @view-tablets {
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
  }
  @media @view-desktop {
    padding-right: 160px;
  }
}
.about_item {
  margin-bottom: 10px;

  @media @view-tablets {
    width: 350px;
    margin-bottom: 40px;
  }

  @media @view-desktop {
    margin-bottom: 35px;
  }
}

.about .main-section_cont {
  @media @view-desktop {
    padding: 0 170px;
  }
}
