
.product {
	@media @view-desktop {
		margin-top: 120px; 
	}

	.main-section_mark { 
		color: #63d1bb; 
		text-transform: uppercase; 
		font-weight: 700; 
		font-size: 17px; 
		line-height: 20px; 
	}

	.main-section_top {
		@media @view-tablets {
			margin-bottom: 50px;
		}
	}
}
.product_cont {
	@media @view-tablets {
		position: relative;
		padding-right: 380px;
	}

	@media @view-desktop {
		padding-right: 580px;
	}
}
.product_info { 
	margin-bottom: 40px; 
}
.product_tb { 
	display: flex; 
	flex-direction: column; 
}
.product_tb-row { 
	display: flex; 
	border-bottom: 1px solid #ececec; 
	padding: 10px 0;
}
.product_tb-name { 
	flex-basis: 100px;  
}
.product_tb-info { 
	flex-grow: 1; 
}
.product_img { 
	img {
		width:100%; 
		height: auto; 
	}

	@media @view-tablets {
		position: absolute;
		right: 0;
		width: 335px; top: 0;  
	}

	@media @view-desktop {
		width: 50%; 
		top: -150px; 
		z-index: -1;
	}
		 
}
.product_price { 
	text-align: center; 
	font-weight: 700; 
	margin: 20px 0 20px; 
	font-size: 17px; 
	width: 100%; 

	@media @view-desktop {
		font-size: 20px; 
		line-height: 24px
	}
}
