.promo {
  background: #f9f9f9;
  margin-top: 0;
  padding-top: 35px;
  position: relative;


  @media @view-tablets {
    padding-top: 120px;

    &:after {
      content: "";
      height: 34px;
      width: 100%;
      background: url("@{img-path}/zigzag-fill.svg") repeat-x center;
      position: absolute;
      bottom: -15px;
    }
  }

  .container {
    @media @view-desktop {
      padding-left: 30px;
    }
  }
}
.promo_title {
  background: url("@{img-path}/hero-mobile@1x.jpg") no-repeat center bottom;
  height: 285px;
  padding: 30px 0 0;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

.promo_menu {
  display: flex;
  flex-direction: column;

  @media @view-tablets {
    flex-direction: row;
  }
}
.promo_menu-item {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  margin: 0 -30px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  flex-grow: 1;

  @media @view-tablets {
    width: 50%;
    padding: 30px 35px ;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &--1 {
    background: #63d1bb
  }

  &--2 {
    background: #56c3b2
  }
}
.promo_menu-text {
  flex-grow: 1;
  max-width: 50%;

  @media @view-tablets {
    max-width: 170px;
  }
}
