.reviews {
  padding: 30px 0;
  margin-bottom: 7px;

  @media @view-tablets {
      margin-bottom: 112px;
  }

  h1 {
    margin-bottom: 25px;
  }

  .main-section_title {
    .title;
    font-size: 25px;
  }

  .main-section_top {
    @media @view-tablets {
      margin-bottom: 50px;
    }

    @media @view-desktop {
      margin-bottom: 0;
    }
  }

  .container {
    @media @view-tablets {
      position: relative;
      padding-top: 75px;
      padding-bottom: 45px;

      &:after {
        content: "";
        width: ~"calc(100% - 100px)";
        height: 34px;
        position: absolute;
        bottom: -97px;
        left: 50px;
        background: url("@{img-path}/zigzag-line.svg") repeat-x center;
      }
    }

    @media @view-desktop {
      padding-top: 70px;
      padding-bottom: 95px;

      &:after {
        width: ~"calc(100% - 60px)";
        left: 30px;
      }
    }

    &:before {
      @media @view-tablets {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 350px;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url("@{img-path}/review.jpg");
        background-repeat: no-repeat;
        background-position: center;
      }

      @media (min-width: 768px) and (min-resolution: 144dpi),
           (min-width: 768px) and (min-resolution: 1.5dppx) {
        background-image:  url("@{img-path}/review@2x.jpg");
      }

      @media @view-desktop {
        left: 30px;
      }
    }
  }

  .main-section_top {
    @media @view-desktop {
      margin-bottom: 48px;
    }
  }
}
.reviews_item {
  display: none;

  &:nth-child(1) {
    display: block;
  }
}
.reviews_text {
  line-height: 30px;
  margin-bottom: 28px;

  @media @view-tablets {
    margin-bottom: 55px;
  }

  @media @view-desktop {
    margin-bottom: 35px;
  }
}
.reviews_name {
  width: 100%;
  font-weight: 700;
  color: @color-black;
  font-size: 17px;
  margin-bottom: 5px;

  @media @view-tablets {
    margin-bottom: 0px;
  }
}
.reviews_mail {
  text-decoration: none;
  color: @color-main_grey;
}
.reviews_arrow {
  display: flex;
  margin: 33px 0 38px;

  @media @view-tablets {
    width: 175px;
    position: absolute;
    bottom: 50px;
    right: 45px;
    margin: 0;
  }

  @media @view-desktop {
    bottom: 98px;
    right: 30px;
  }
}
.reviews_arrow-item {
  flex-grow: 1;
  height: 50px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media @view-tablets {
    border: none;
  }

  &--left {
    background: url("@{img-path}/icon-left-arrow.svg") no-repeat center;
  }

  &--right {
    background: url("@{img-path}/icon-right-arrow.svg") no-repeat center;
  }
}

.btn-reviews {
  @media @view-tablets {
    position: absolute;
    top: 75px;
    right: 45px;
  }

  @media @view-desktop {
    top: 78px;
    right: 30px;
  }
}
