// main: style.less

// ============ FONTS ============
@ff: ~"'Open Sans', sans-serif";
@fz: 15px;
@flh: 24px;

// ============ PATHS ============
@img-path: "../img";

// ============ COLORS ============
@color-main_grey: #444444;
@color-black: #000;
@fone_grey: #f1f1f1;


// ============ MEDIA ============
@view-tablets: ~"all and (min-width: 768px)";
@view-desktop: ~"all and (min-width: 1200px)";
